---
import Html from "../components/layout/Html.astro"
import Head from "../components/layout/Head.astro"
import Nav from "../components/Nav.astro"
import Projects from "../components/Projects.astro";
---

<Html>
  <Head
    title="Hitesh V"
    description="I'm an Full Stack Developer from India!"
  />
  <body>
    <Nav />
    <Projects />    
  </body>
</Html>
