---
import BannerImage from "./BannerImage"

const images = [
  "crystal.png",
  "hvlxh.png",
  "hvlxh.gif",
  "hvlxh1.png",
  "hvlxh2.png",
  "sega1.png",
]
---

<div
  class="bg-white m-3 p-4 items-center rounded-lg shadow-md max-sm:text-center max-md:text-center"
>
  <h1 class="sm:text-2xl text-xl font-bold pb-2">Banners</h1>
  <BannerImage images={images} />
</div>
