---
const navs = ["projects", "about", "skills"];

const Navbar = "nav";
const Container = "Container";
const Link = "a";
---

<Navbar class="fixed w-full">
  <Container
    style={{ borderBottomWidth: "1px" }}
    class="flex items-center justify-between border-stone-600 bg-black/70 px-5 py-3"
  >
    <Link href="/" class="text-2xl font-light select-none">hvlxh.</Link>
    <ul class="inline-flex items-center">
      {
        navs.map((nav) => (
          <li class="cursor-pointer px-3 text-sm font-semibold text-[rgba(255,255,255,0.81)] duration-100 hover:text-white sm:px-4 md:px-5 lg:px-6 xl:px-7 select-none">
            <Link href={"/" + nav}>
              {nav[0].toUpperCase() + nav.substring(1)}
            </Link>
          </li>
        ))
      }
    </ul>
  </Container>
</Navbar>
