---
export interface Props {}
const osRepos = [
  {
    username: "hvlxh",
    repoName: "better-dialog"
  },
  {
    username: "LeafMCBE",
    repoName: "LeafMCBE",
  },
  {
    username: "hvlxh",
    repoName: "MC-Server-Utility"
  },
  {
    username: "hvlxh",
    repoName: "DiscordJS-Handlers"
  }
]
---

<div
  class="bg-white m-3 p-4 items-center rounded-lg shadow-md max-sm:text-center max-md:text-center"
>
  <h1 class="sm:text-2xl text-xl font-bold pb-2">Open-sourced Projects</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {osRepos.map((embed) => (
      <div class="bg-gray-200 p-2 rounded">
        <a target="_blank" href={`https://github.com/${embed.username}/${embed.repoName}`} class="select-none">
          <img src={`https://github-readme-stats.vercel.app/api/pin/?username=${embed.username}&repo=${embed.repoName}&show_owner=true`} width="600">
        </a>
      </div>
    ))}
</div>
