---
export interface Props {}
import WakaTime from './WakaTime'
---

<div
  class="bg-white m-3 p-4 items-center rounded-lg shadow-md max-sm:text-center max-md:text-center"
>
  <h1 class="sm:text-2xl text-xl font-bold pb-2">WakaTime Statistics</h1>
  <WakaTime embeds={[
    "https://wakatime.com/share/@hvlxh/7681b980-cbbb-4b2a-8744-1d4adc2a2e9c.svg",
    "https://wakatime.com/share/@hvlxh/0d0fb31c-1159-4c04-99b2-7f30de764174.svg",
    "https://wakatime.com/share/@hvlxh/437d2d45-89e2-4a47-850c-84d9399ebfb2.svg",
    "https://wakatime.com/share/@hvlxh/296250d5-d7f0-4260-ba30-0238c747134b.svg"
  ]} />
</div>  
<div
  class="bg-white m-3 p-4 items-center rounded-lg shadow-md max-sm:text-center max-md:text-center"
>
  <h1 class="sm:text-2xl text-xl font-bold pb-2">GitHub Statistics</h1>
  <img src="https://skillicons.dev/icons?i=js,ts,html,css,astro,mongodb,nodejs,netlify,nextjs,php,react,tailwind,vscode" class="pb-5 w-full">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <img src="https://github-readme-stats.vercel.app/api?username=hvlxh&bg_color=00000000&show_icons=true&count_private=true&card_width=500px" width="1921">
    <img src="https://streak-stats.demolab.com?user=hvlxh&background=ECECEC09" width="610">
  </div>
</div>