---
import Nav from "../components/Nav.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="[color-scheme:dark]">
  <head>
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        font-family: "Lato", sans-serif;
      }
    </style>
  </head>
  <body class="bg-[url('/grid.svg')] pb-36">
    <div style={{ position: "relative" }}>
      <div class="fixed left-0 right-0 top-0 z-10">
        <Nav />
      </div>
      <slot />
    </div>
  </body>
</html>
